# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/c3s.ado

# environment
VIRTUAL_HOST=api.0.0.0.0.xip.io
TRUSTED_PROXY=0.0.0.0

# secrets
AUTHENTICATION_SECRET=s0secret!!
SESSION_SECRET=s0secret!!